IS_LOCALHOST=true
PORT=8080
BASE_PATH=/felles-meldekort
MELDEKORT_API_URL=http://localhost:8801/meldekort/meldekort-api/api
MIN_SIDE_URL=https://www.intern.dev.nav.no/minside/
DP_URL=https://arbeid.intern.dev.nav.no/arbeid/dagpenger/meldekort
AAP_URL=https://aap-meldekort.ansatt.dev.nav.no/aap/meldekort
