IS_LOCALHOST=true
PORT=8080
BASE_PATH=/meldekort
MELDEKORT_API_URL=http://localhost:8801/meldekort/meldekort-api/api
MIN_SIDE_URL=https://www.intern.dev.nav.no/minside/
DP_URL=https://arbeid.intern.dev.nav.no/arbeid/dagpenger/meldekort
AAP_URL=https://aap-meldekort.ansatt.dev.nav.no/aap/meldekort
UMAMI_ID=c3386e2f-1217-484d-afd8-7fce1857cf1f
SKAL_LOGGE=true
