.header {
    border-bottom: 2px solid var(--ax-border-neutral);
}

.row {
    display: grid;
    grid-template: auto / 4fr 6fr 3fr 7fr 4fr;
    border-bottom: 1px solid var(--ax-border-neutral);
}

.row div {
    padding: 1rem 0.5rem;
}

.row .header {
    display: none;
}

.row:nth-child(even) {
    background-color: var(--ax-bg-neutral-soft);
}

.tag {
    margin-top: -0.5rem;
}

@media only screen and (max-width: 780px) {
    .header {
        display: none;
    }

    .row {
        grid-auto-flow: column;
        grid-template: 1fr 1fr 1fr 1fr 1fr / 1fr 3fr;
        border-bottom: 2px solid var(--ax-border-neutral);
    }

    .row div {
        border-bottom: 1px solid var(--ax-border-neutral)
    }

    .row .header {
        display: block;
    }
}
