body {
    padding: 0;
}

.img {
    height: 15rem;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.imgSmall {
    height: 3rem;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.centeredButtons {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.navds-checkbox--error .navds-checkbox__label {
    --ac-radio-checkbox-action: var(--a-red-500);
}
