.uke {
    --__ac-accordion-header-shadow-color: #FFFFFF;
    border: 1px solid #000000;
    margin-bottom: 2rem;
}

.rad {
    display: flex;
    flex-flow: row wrap;
}

.grid {
    flex-grow: 100;
    display: grid;
    grid-template: auto / 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.tittel {
    width: 20rem;
    padding: 0.5rem;
}

.placeholder {
    display: none;
}

.arbeid {
    border-left: 9px solid #99C2E8FF;
}

.tiltak {
    border-left: 9px solid #FFE9CCFF;
}

.syk {
    border-left: 9px solid #6AB889FF;
}

.ferieFravar {
    border-left: 9px solid #C1B5D0FF;
}

.centered {
    width: 3rem;
    padding-bottom: 0.5rem;
}

.centered div {
    margin: 0 auto;
    padding-top: 0.5rem;
}

.centered abbr {
    display: flex;
    justify-content: center;
}

.input {
    width: 3rem;
}

.error {
    margin-bottom: 2rem;
}

@media only screen and (max-width: 740px) {
    .tittel {
        width: 100%;
    }

    .grid {
        grid-template: auto / 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .desktop {
        display: none;
    }

    .placeholder {
        display: block;
    }
}

@media only screen and (max-width: 450px) {
    .centered {
        width: 2rem;
    }

    .input {
        width: 2rem;
    }

    .input input {
        min-height: 2rem;
        padding: var(--a-spacing-1);
    }
}
