.uke {
    --__ac-accordion-header-shadow-color: #FFFFFF;
    border: 1px solid #000000;
    margin-bottom: 2rem;
}

.header {
    color: var(--ax-text-neutral);
}

.content {
    box-shadow: none;
}

.rad {
    display: grid;
    grid-template-columns: [tittelOgInfo] 20rem [dager];
    grid-template-rows: [tittelOgDager] auto [info];
}

.tittel {
    width: 20rem;
    padding-left: 0.5rem;
    padding-top: 1.2rem;
    grid-column-start: tittelOgInfo;
    grid-row-start: tittelOgDager;
}

.info {
    padding-left: 0.5rem;
    grid-column-start: span 2;
    grid-row-start: info;
}

.grid {
    flex-grow: 100;
    display: grid;
    grid-template: auto / 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

    grid-column-start: dager;
    grid-row-start: tittelOgDager;
}

.placeholder {
    display: none;
}

.arbeid {
    border-left: 9px solid #99C2E8FF;
}

.tiltak {
    border-left: 9px solid #FFE9CCFF;
}

.syk {
    border-left: 9px solid #6AB889FF;
}

.ferieFravar {
    border-left: 9px solid #C1B5D0FF;
}

.centered {
    width: 3rem;
    padding-bottom: 0.5rem;
}

.centered div {
    margin: 0.2rem auto 0;
}

.centered abbr {
    display: flex;
    justify-content: center;
}

.input {
    width: 3rem;
}

.error {
    margin-bottom: 2rem;
}

@media only screen and (max-width: 740px) {
    .rad {
        display: grid;
        grid-template-columns: [alt] 1fr;
        grid-template-rows: [tittel] auto [info] auto [dager];
    }

    .tittel {
        width: 100%;
        grid-column-start: alt;
        grid-row-start: tittel;
    }

    .info {
        grid-column-start: alt;
        grid-row-start: info;
    }

    .grid {
        grid-column-start: alt;
        grid-row-start: dager;
        grid-template: auto / 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .desktop {
        display: none;
    }

    .placeholder {
        display: block;
    }
}

@media only screen and (max-width: 450px) {
    .centered {
        width: 2rem;
    }

    .input {
        width: 2rem;
    }

    .input input {
        min-height: 2rem;
        padding: var(--ax-space-4);
    }
}
